@use '../abstracts/' as *;


.leagues{
    &.tournament{
        padding-top: 1px;

        
    }
    .rankings-header,
    .ranking-entry{
        grid-template-columns: 100px 435px 133px 133px 133px 133px 133px;

        .league-points{
            font-weight: bold;
        }
        .name{
            
            a{
                font-family: 'Helvetica Neue';
                font-weight: bold;
                text-transform: uppercase;
                font-weight: bold;
                color: $red;
                text-decoration: none;
                &:hover{
                    color: black;
                }
            }
        }

        .unknown{
            color: #949494;
            font-weight: normal;
        }
    }



  
}