@use '../abstracts/' as *;

$text-color-gray: #949494;
$border-color-light: #b0b0b0;
$border-color-dark: #e2e0e1;

.matches-wrapper {
  max-width: 1200px;
  margin: 0 auto 100px;

  &.home{
    padding-top: 91px;
    
  }

  .message{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid $border-color-dark;
    &.league{
      color:#8f8f8f;
      font-size: 17px;
    }
  }
  .matches-header,
  .match-entry {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 224px 224px 133px 133px 133px 133px 133px;
    line-height: 145%;

    .smaller-font{
      font-size: 15px;
    }

    a{
      text-decoration: none;
      color: #000;

      &:hover {
        color: $red !important;

        .gray{
          color: $red !important;
        }
      }
    }
  }

  .matches-header {
    margin-top: 57px;
    padding: 0 10px 5px;
    font-size: 15px;
    color: $text-color-gray;
    border-bottom: 2px solid $border-color-light;

    .number {
      padding-left: 16px;
    }

    
    &.home{
      position: fixed;
      height: 90px;
      background: white;
      z-index: 1;
      align-items: end;
      max-width: 1200px;
      .number {
        padding-left: 16px;
      }
      .score,
      .date,
      .location {
        place-self: center;
        align-self: auto;
        text-align: center;
      }
    }
  }
}

.score,
.date,
.location {
  place-self: center;
  text-align: center;
}

.score .gray {
  color: $text-color-gray;
}

.match-entry {
  min-height: 100px;
  border-bottom: 2px solid $border-color-dark;
  align-items: center;
  padding-left: 10px;
  position: relative;
  
  .edit-btn{
    position: absolute;
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    right: -50px;
    color: black;
    top: 48%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 5px 10px;
    padding-top: 13px;
    text-decoration: none;

    &.child{
      top: 44px !important;
      right: -47px !important;
      svg{
        height: 30px !important;
        width: 30px !important;
      }
    }

    svg{
        width: 30px;
        height: 30px;
    }


    &:hover {
        svg{
            fill: $red;
        }
    }

  }

  .score{
    a{
      font-size: 15px;
        font-family: 'Helvetica Neue', sans-serif;

        span{
          font-family: 'Helvetica Neue', sans-serif;

        }
    }
  }
  .winner,
  .loser{

    .mt-10 {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .player-2 {
      margin-bottom: 15px;
    }

    .points{
      color: $mid-gray;
      font-weight: normal;
      text-align: center;
    }
  }
  .winner {
    font-weight: bold;
  }

  .number {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    display: grid;
    place-items: center;
    align-items: center;
    padding-left: 2px;
    padding-top: 2px;
  }


  .category-wrapp {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    top: 5px;
    
    .diamond{
      display: block;
      position: relative;
      width:22px;
      border-width: 2px !important;
      height: 22px;
      
    }
      .category{
        position: absolute;
        top: 52%;
        font-weight: bold;
        font-weight: normal;
        left: 50%;
        font-size: 13px;
        transform: translate(-50%, -50%);
      
        &.unknown{
          color: #949494;
        }


        &.category-1{

        }
        &.category-2{

        }
        &.category-3{
        }
        &.category-4{
        }
        &.category-5{

        }
        &.category-6{
        }
        &.category-7{

        }
        &.category-8{

        }
        &.category-9{

        }
        &.category-10{
        }
        &.category-unknown{
          color: $mid-gray !important;
        }
      }
  }

}

#mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #desktop {
    display: none;
  }

  #mobile {
    display: block;
  }

  .matches-wrapper {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 250px;
    padding-top: 0px !important;
    &.home{
      padding-top: 50px !important;
    }
    .message{
      font-size: 20px;
      margin-top: 10px;
    }
  }

  .matches-wrapper .match-entry {
    height: max-content;
    position: relative;
    .edit-btn{
      top: 40px;
      left: 0px;
      font-size: 15px;
      padding: 5px 15px;
      padding-top: 9px;
      right: unset;

      &.child{
        svg{
          height: 30px !important;
          width: 30px !important;
        }
      }
    }
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0 32px 0;
  
  .category-wrapp {

    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    
    .diamond{
      display: block;
      position: relative;
      width:20px;
      height: 20px;
      
    }
      .category{
        position: absolute;
        top: 52%;
        font-weight: bold;
        font-weight: normal;
        left: 50%;
        font-size: 13px;
        transform: translate(-50%, -50%);
      
        &.unknown{
          color: #949494;
        }
        &.category-1{
        }
        &.category-2{
        }
        &.category-3{
        }
        &.category-4{
        }
        &.category-5{
        }
        &.category-6{
        }
        &.category-7{
        }
        &.category-8{
        }
        &.category-9{

        }
        &.category-10{

        }
      }
  }
    .location {
      padding-inline: 10px;

      &.smaller-font{
        font-size: 15px;
      }
      color: $text-color-gray;
      line-height: 1.7;

       .court,.league{
        font-family: 'Helvetica Neue';
        text-transform: uppercase;
      }

      .court{
        color:black;

        &:hover {
          color: $red;
        }
      }

      .league{
        color: $red;

        &:hover {
          color: $blue;
        }
      }

      a{

        color: $text-color-gray;
        &:hover {
          color: $red;
        }

        &.black{
            color: $red;
            margin-top: 20px;
            &:hover {
              color: $blue;
            }
        }
      }
    }

    .score {
      a{
        font-size: 25px;
        font-family: 'Helvetica Neue', sans-serif;
      }
      line-height: 1.2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 66px;

      .games {
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 23px;
        color: $text-color-gray;
      }
    }


  }

  .match-entry{
    &:first-of-type{
      border-top: 2px solid $border-color-dark;
    }
  }


  .info {
    display: grid;
    width: 300px;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 100px);
  }

  .info-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
    .sup {
      color: $text-color-gray;
      font-size: 11px;
    }

    .text {
      font-size: 18px;
      line-height: 1.2;
      text-align: center;
      position: relative;
      display: flex;
        flex-direction: column;
            gap: 5px;

        .points{
          color: $mid-gray;
          font-weight: normal;
          text-align: center;
      }
    }
  }

  .sep {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
  }

}
