@use '../abstracts' as *;
.rankings-wrapper {
  max-width: 1200px;
  margin: 0 auto 100px;
  padding-top: 65px;

  .rankings-header,
  .ranking-entry {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 224px 78px 133px 133px 133px 133px 133px 133px;
  }

  .rankings-header {
    position: fixed;
    height: 87px;
    background: white;
    z-index: 1;
    padding-left: 10px;
    font-size: 15px;
    color: #949494;
    border-bottom: 2px solid #b0b0b0;
    padding-bottom: 5px;
    align-items: end;
    max-width: 1200px;
    .elo,
    .total-matches,
    .wins,
    .loses,
    .win-precent,
    .place {
      place-self: center;
      align-self: auto;
    }
  }
  

  &.courts-list{
    .rankings-header,
    .ranking-entry {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 100px 302px 133px 133px 133px 133px 133px 133px;
    }
  }

  .elo,
  .total-matches,
  .wins,
  .loses,
  .win-precent,
  .place {
    place-self: center;
    .unknown {
      color: #949494;
    }
  }
    .inactive {
        color: #949494;
      }


  .place{
    position : relative;
    .diamond{
      display: block;
      width:25px;
      height: 25px;
      transform: scaleX(1.4) rotate(45deg);
      
    }
      .number{
        position: absolute;
        top: 56%;
        font-weight: bold;
        left: 50%;
        transform: translate(-50%, -50%);


        &.category-1{
          
        }
        &.category-2{
          
        }
        &.category-3{
        }
        &.category-4{
          
        }
        &.category-5{
          
        }
        &.category-6{
        }
        &.category-7{
          left: 54%;
        }
        &.category-8{
        }
        &.category-9{
        }
        &.category-10{
        }
        &.category-unknown{
          color: $mid-gray !important;
          left: 54%;
        }

        &.white{
          color: white;
        }
      
        &.unknown{
          color: #949494;
        }
      }
  }

  .ranking-entry {
    height: 100px;
    border-bottom: 2px solid #e2e0e1;
    align-items: center;
    padding-left: 10px;
    position: relative;

    .edit-btn{
      position: absolute;
      font-family: 'Helvetica Neue';
      text-transform: uppercase;
      right: -40px;
      color: black;
      top: 50%;
      transform: translateY(-50%);
      font-size: 30px;
      text-decoration: none;

     svg{
        width: 30px;
        height: 30px;
      }
      &:hover {
        svg{
          fill: $red;
        }
      }

    }

    .elo,
    .name {
      font-weight: bold;

      &.helvetica {
        a{
          font-family: 'Helvetica Neue';
          text-transform: uppercase;


          &.blue {
            color: $blue;

            &:hover {
              color: $red;
            }
          }
        }
      }

      a{
        text-decoration: none;
        color: #000;

        &:hover {
          color: $red;
        }
      }
    }

    .rank {
      width: 40px;
      aspect-ratio: 1 / 1;
      border-radius: 100px;
      display: grid;
      font-size: 20px;
      place-items: center;
      align-items: center;
      padding-left: 1px;
      padding-top: 2px;
      border: 1px solid $rank-border-color;

      &.align-left{
        padding-right: 2px;
      }

      &.first {
        border: 3px solid $gold;
      }

      &.second {
        border: 3px solid $silver;
      }

      &.third {
        border: 3px solid $bronze;
      }
    }

    .smaller-font {
      font-size: 15px;
    }

  }
}

#mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #desktop {
    display: none;
  }

  #mobile {
    display: block;
  }

  .rankings-wrapper {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 250px;
    padding-top: 50px !important;

    .ranking-entry {
      display: flex !important;
      height: auto;
      flex-direction: column;
      gap: 20px;
      padding: 29px 0 25px 0;
      padding-inline: 20px;

      .edit-btn{
        bottom: 0px;
        left: 10px;
        right: unset;
      }

      .rank {
        width: 55px;
        font-size: 25px;
        padding-left: 1px;
        padding-top: 4px;
        margin-top: -6px;

        &.align-left{
          padding-left: 4px;
          padding-top: 2px;
        }
      }

      .name,
      .place {

        font-weight: normal;
        font-size: 18px;
      }

      .name{
        &.helvetica a{
          text-transform: uppercase;
          font-family: 'Helvetica Neue';
        

          &.blue {
            color: $blue;

            &:hover {
              color: $red;
            }
          }
        }
      }
    
      .place{
        .diamond{
          height: 25px;
          width: 25px;
        }
        .number{
          top: 53%;
          left: 47%;
        }
      }
    }

    .info {
      display: grid;
      width: 100%;
      grid-auto-flow: column;
      grid-template-columns: repeat(3, 33.3%);

      &.two {
        grid-template-columns: repeat(2, 50%);
      }
    }

    .info-wrapp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      align-items: center;

      .sup {
        color: #949494;
        font-size: 11px;
      }

      .text {
        font-size: 18px;
      }
    }
  }
}
