@use './components';
@use './abstracts';
@use './pages';


.show-mobile{
    display: none;
}

@media (max-width: 768px) {
    .show-mobile {
        display: block;
    }
    .mobile-mb-200{
        margin-bottom: 200px;
    }
}
